.navbar .navbar-brand{
    font-size: 30px;
    font-family: 'Baron Neue Bold';
    color: white;
}

.nav-item{
    font-family: 'Baron Neue Bold';
    color: white;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption{
    bottom: 220px;
}

.carousel-caption h5{
    font-size: 45px;
    color: black;
    margin-top: 25px;
    font-family: 'Baron Neue Bold';
}

.carousel-caption p{
    width:60%;
    color: black;
    margin: auto;
    font-size:18px;
    line-height:1.9;
    font-family: 'Baron Neue Bold';

}

.carousel-caption a{
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}

body{
    background-image: url("images/c.jpg");
    background-size: cover ;
}

.card{
    margin-top:15%;
    margin-left: 5%;
    position:relative;
    transition: 3s;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.8);

}

.card-img-top{
    position:relative;
    transition: 3s;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.social-media ul{
    position: fixed;
    bottom: 60px;
    padding: 10px;
    margin:0;
    transform: translate(0%,100%);
    display:flex;
}
.social-media ul li{
    list-style: none;
    margin:0 15px;
}
.social-media ul li .fa{
    font-size: 15px;
    line-height: 30px;
    transition: .6s;
    color:black
}
.social-media ul li a{
    position:relative;
    display:block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: dodgerblue;
    text-align:center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.social-media ul li a:hover{
    transform: translate(0,-10px);
}

.col-md-6 h3{
    margin-top:5px;
    font-size:25px;
    color:white;
}
.col-md-5{
    margin-top: 250px;
    margin-left:400px;
    box-shadow:-1px 1px 60px 10px black;
    background: rgba(0,0,0,0.4);
}

.label{
    font-weight:normal;
    margin-top:10px;
    color:white;
    font-size:18px;
}

.form-control{
    background:transparent;
    border-radius:0px;
    border:0px;
    border-bottom:1px solid white;
    font-size: 18px;
    margin-top:10px;
    height:40px;
    color:white;

}
.h3{
    color:white;
}






