{% extends 'main/base.html' %}


{% block content %}

    <form method="post">
        {% csrf_token %}

        <div class="col-md-5">
            <!--make a 2 column of 6-->
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-left"> Sign Up </h3>
                </div>
            </div>

            <hr>
            <!-- make another column for textbox and label-->
            <div class="row">
                <label class="label col-md-2 control-label"> Username</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>

            </div>

            <div class="row">`
                <label class="label col-md-2 control-label"> Password </label>
                <div class="col-md-10">
                    <input type="password" class="form-control" name="password1" placeholder="Password1">
                </div>

            </div>

            <div class="row">
                <label class="label col-md-2 control-label"> Retype Password </label>
                <div class="col-md-10">
                    <input type="password" class="form-control" name="password2" placeholder="Password2">
                </div>

            </div>

            <button class="btn btn-primary btn-lg" type="submit" name="action">Register </button>
    </form>

            <div>

                {% for message in messages %}
                    <h3> {{ message }}</h3>
                {% endfor %}

            </div>

    </div>

{% endblock %}